.chord {
  display: inline-block;
  text-anchor: middle;
}

.chord-name {
  text-align: center;
  font: bold 90%/1 sans-serif;
  margin-bottom: 0px;
}

.chord-unplayed-string {
 font-family: Arial;
 font-weight: bold;
 stroke: #000000;
}

.chord-fret-number {
  font-family: Arial;
  stroke: #000000;
}

.chord-head-fret {
  stroke-width: 3;
}

line {
  stroke: #000000;
}