<div class="chord">
<h1 class="chord-name">{{key.name}}</h1>
  <svg ng-attr-width="{{width}}" ng-attr-height="{{height}}">
    <line
      ng-repeat="line in lines"
      ng-class="{'chord-head-fret': $first}"
      ng-attr-x1="{{line.x1}}"
      ng-attr-y1="{{line.y1}}"
      ng-attr-x2="{{line.x2}}"
      ng-attr-y2="{{line.y2}}"
    />
    
    <text font-size="{{pressSize*2}}px" x="{{baseFretX}}" y="{{baseFretY + pressSize / 2}}" class="chord-fret-number">{{key.base}}</text>

    <circle ng-repeat="coord in coords" ng-if="coord.pressed" ng-attr-cx="{{coord.x}}" ng-attr-cy="{{coord.y}}" ng-attr-r="{{pressSize}}"/>
    <text font-size="{{pressSize*2}}px" ng-repeat="coord in coords" ng-if="!coord.pressed" class="chord-unplayed-string" x="{{coord.x}}" y="{{coord.y + pressSize / 2}}">x</text>
  </svg>
</div>