.chord {
  display: inline-block;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 1;
}

.chord text {
  font-family: Arial;
  text-anchor: middle;
}

.chord line {
  stroke: #000000;
}

.chord-name {
  font-size: 90%;
  margin-bottom: 0px;
}

.chord-variations {
  font-size: 70%;
  font-weight: normal;
  margin-top: 0px;
  letter-spacing: 2px;
}

.chord-variations a {
  font-weight: bold;
  text-decoration:none;
}

.chord-unplayed-string {
 stroke: #000000;
}

.chord-head-fret {
  stroke-width: 3;
}